django>=5.2.0
python-dotenv
whitenoise
dj-database-url
gunicorn
google-generativeai
psycopg2-binary
django-cors-headers
firebase-admin
autogen-agentchat>=0.5.6
autogen-ext[openai]>=0.5.6
empyrebase
channels==4.0.0

